<!DOCTYPE html>
<html>

<head>
    <title>Activity 2</title>
    <style>
        .container {
            text-align: center;
            margin-top: 100px;
        }

        .next-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
        }

        .back-button {
            position: fixed;
            bottom: 20px;
            left: 20px;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('.next-button').addEventListener('click', function () {
            window.location.href = '/final';
        });
        document.querySelector('.back-button').addEventListener('click', () => {
            window.location.href = '/resources2';
        })
    });
    </script>
</head>

<body>
    <div class="container">
        <h1>Welcome to the Activity 2!</h1>
    </div>
    <button class="back-button">Back</button>
    <button class="next-button">Next</button>
</body>

</html>