<!DOCTYPE html>
<html>

<head>
    <title>Activity 2</title>
    <style>
        .container {
            text-align: center;
            margin-top: 100px;
        }

        .next-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('.next-button').addEventListener('click', function () {
            window.location.href = '/';
        })
    });
    </script>
</head>

<body>
    <div class="container">
        <h1>Welcome to Final!</h1>
    </div>
    <button class="next-button">Next</button>
</body>

</html>