header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    position:fixed;
    width: 100%;
    top:0;
    z-index: 1000;
}

header .logo {
    padding:15px;
    height: 50px;
}

header .iitb-logo {
    height: 100px;
}

header h1 {
    flex: 1;
    text-align: center;
    margin: 0;
}

aside {
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: calc(100vh - 100px); /* Adjust height based on header height */
    position: fixed; /* Fix the position */
    top: 100px; /* Adjust based on header height */
}

aside nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

aside nav ul li {
    margin: 20px 0;
}

aside nav ul li a {
    text-decoration: none;
    color: #000;
}

.question {
    margin-bottom: 30px;
}
.correct-answer, .wrong-answer {
    display: none;
    margin-top: 10px;
}
.star {
    color: gold;
    font-size: 24px;
}
.answer-explanation {
    display: none;
    margin-top: 10px;
}