<!DOCTYPE html>
<html>

<head>
    <title>Edit CSV Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit-form.css') }}">
    <script src="{{ url_for('static', filename='javascript/edit-form-script.js') }}"></script>
</head>

<body>
    <aside id="nav-bar">
        <nav>   
            <ul>
                <!-- <li><a href="{{ url_for('routes.activity')}}">Activity</a></li> -->
                <div class="dropdown">
                    <button class="dropbtn">Activity</button>
                    <div class="dropdown-content">
                        <a href="">Resource 1</a>
                        <a href="{{ url_for('routes.game')}}">Activity 1</a>
                        <a href="">Resource 2</a>
                        <a href="{{ url_for('routes.game1')}}">Activity 2</a>
                    </div>
                </div>
                <li><a href="{{ url_for('routes.edit_csv')}}">Process Model</a></li>
                <li><a href="{{ url_for('routes.ocr')}}">OCR</a></li>
                <li><a href="#">Testimonial</a></li>
            </ul>
        </nav>
    </aside>
    <div class="container">
        <header>
            <a href="/"><img src="{{ url_for('static', filename='images/e-yantra-logo.jpg') }}" alt="e-Yantra" class="logo"></a>
            <h1>e-yantra Summer Internship Program 2024</h1>
            <img src="{{ url_for('static', filename='images/iit-logo.png') }}" alt="IIT Bombay" class="iitb-logo">
        </header>

        <div class="first-half">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'EditCSV')">Edit CSV</button>
                <button class="tablinks" onclick="openTab(event, 'UploadCSV')">Upload CSV</button>
            </div>
            <div id="EditCSV" class="tabcontent">
            <h1>Edit CSV Data</h1>
            <form id="edit-form">
                <table class="data">
                    <thead>
                        <tr>
                            {% for col in data[0].keys() %}
                            <th>{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody >
                        {% for row in data %}
                            {% for col, val in row.items() %}
                            <td><input type="text" name="{{ col }}" value="{{ val }}"></td>
                            {% endfor %}
                            <td ><button type="button" class="delete-row">Delete</button></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <br>
                <button type="button" id="add-row">Add Row</button>
                <input type="submit" value="Save">
            </form>
        </div>
        <div id="UploadCSV" class="tabcontent" style="display:none;">
            <h1>Upload CSV File</h1>
            <form id="upload-form" enctype="multipart/form-data" method="post">
                <input type="file" id="csvFile" accept=".csv">
                <button type="submit">Upload</button>
            </form>
        </div>

        </div>
        <div class="second-half">
            <img id="process-model">
        </div>
    </div>
</body>

</html>