<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-Yantra Summer Internship Program 2024</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='images/e-yantra-logo.jpg') }}" alt="e-Yantra" class="logo">
            <h1>e-yantra Summer Internship Program 2024</h1>
            <img src="{{ url_for('static', filename='images/iit-logo.png') }}" alt="IIT Bombay" class="iitb-logo">
        </header>

        <aside id="nav-bar">
            <nav>   
                <ul>
                    <li><a href="{{ url_for('routes.game')}}">Activity</a></li>
                    <li><a href="{{ url_for('routes.edit_csv')}}">Process Model</a></li>
                    <li><a href="{{ url_for('routes.ocr')}}">OCR</a></li>
                    <li><a href="#">Testimonial</a></li>
                </ul>
            </nav>
        </aside>
        <main>
            <div class="content">
                <img src="{{ url_for('static', filename='images/our-pic.jpg') }}" alt="Team Behaviour" class="cover-image">
                <h2>Investigating Teams behaviour in a Computer based learning environment</h2>
            </div>
        </main>
    </div>
</body>
</html>
