<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ocr.css') }}">
</head>

<body>
    <div class="container">
        <div class="left">
            <h3>Sample Images</h3>
            <div class="sample-images">
                <img src="{{ url_for('static', filename='images/sample1.jpg')}}" alt="Sample Image 1" class="sample-img"
                onclick="selectSampleImage('{{ url_for('static', filename='images/sample1.jpg') }}')">
           <img src="{{ url_for('static', filename='images/sample2.jpg')}}" alt="Sample Image 2" class="sample-img"
                onclick="selectSampleImage('{{ url_for('static', filename='images/sample2.jpg') }}')">
                <!-- Add more sample images as needed -->
            </div>
        </div>
        <div class="right">
            <h3>Drag and Drop</h3>
            <div class="dropzone" id="dropzone">
                <p>Drag or <a href="#" id="fileSelector">Browse your files</a></p>
                <input type="file" id="fileInput" accept="image/*" style="display:none;">
            </div>
            <div class="image-display" id="imageDisplay">
                <img id="displayedImage" alt="Selected Image">
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='javascript/ocr.js') }}"></script>
</body>

</html>